.search {
  width: 60%;
  height: 80%;
  margin-left: 15%;
  padding: 0.5em 1.5em 0.5em;
  height: 3em;
  background: #ffffff;
  border: 0.125em solid #ff993c;
  box-sizing: border-box;
  border-radius: 1.5em;
  &:focus {
    outline: 0;
  }
  &:hover {
    border: 2px solid #ff993c;
  }
}

.input-search {
  width: 50%;
  height: 2.5em;
  /* position:absolute; */
  background: #ffffff;
  /* Light Orange */
  border: 0.125em solid #ff993c;
  box-sizing: border-box;
  border-radius: 1.5em;
  &:focus {
    outline: 0;
  }
  &:hover {
    border: 2px solid #ff993c;
  }
}

// Profile
.img-post {
  width: 100%;
}

.img-preview {
  width: 100px;
  height: 100px;

  // height: 14vh;
  //   height: 100%;
}

.square-box {
  width: 100%;
  height: 5vh;
}

.crop {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
}
.crop img {
  position: absolute;
  max-width: 500px;
  max-height: 500px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.select-box {
  /* height: 8vh; */
  border-radius: 1em;
  background-color: #facfa4;
  opacity: 0.9;
  color: #333;
  font-weight: 700;
}

.overflow-hidden {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  // min-width: 0;
}
